/* Global Styles */
body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header Styles */
header {
  background-color: #044e83;
  color: #b9d8f3;
  padding: 0px ;
  text-align: center;
  display: flex;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  margin: left;
}

.nav-bar,
.courses {
  color: #faf9f6;
  text-decoration: none;
  margin-left: 15px;
  font-size: 12px;
  cursor: pointer;
}

/* Form boder */
.form-border {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  border: 2px solid #e3e4e4;
  border-radius: 15px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
}

h2 {
  color: #044e83;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 20px;
}

/* Input Styles */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
select {
  width: calc(100% - 10px);
  height: 35px;
  border: 1px solid #e3e4e4;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #f3f4f6;
  box-sizing: border-box;
}
.mnumber {
  width: calc(100% - 10px);
  height: 35px;
  border: 1px solid #e3e4e4;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #f3f4f6;
  box-sizing: border-box;
}
input[type="file"] {
  display: none;
}

input[type="file"] + label {
  display: block;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

/* Button */
.button {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  background-color: #3498db;
  color: #fff;
  border: none;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #044e83;
}

/* Footer  */
footer {
  text-align: center;
  background-color: #044e83;
  color: white;
  padding: 10px;
}
#Courses {
  width: 1px;
  margin: 0 auto;
  padding: 20px;
  background-color: #044e83;
  border: none;
  cursor: pointer;
}
.para {
  text-align: center;
}
.profile {
  margin-left: 30%;
  text-align: center;
  color: #044e83;
  font-size: larger;
  font-size: 400;
}
.profile:hover {
  cursor: pointer;
}
#github {
  color: #a8d6ff;
  font-size: large;
  text-decoration: none;
}
#admit-card {
  font-size: large;
  text-decoration: none;
  color: #044e83;
  font-weight: 500;
}
#h1text{
    display: flex;
}
